// Basic usage
// ============
//
// .example {
//   font-size: ily-px-to-em(10px, 18px);
//   line-height: ily-px-to-em(18px, 10px);
// }
//
// Base font size
// ==============
//
// $base-font-size: 18px;
//
// body {
//   font-size: $base-font-size;
// }
//
// .example {
//   font-size: ily-px-to-em(10px);
//   line-height: ily-px-to-em(18px, 10px);
//
//   .inherit {
//     font-size: ily-px-to-em(8px, 10px);
//     line-height: ily-px-to-em(12px, 8px);
//   }
// }
//

@function ily-px-to-em($value, $parent-pixels: null) {
  $base-font-size: 16px !default;

  @if unit($value) == em {
    @return $value;
  }

  @if $parent-pixels == null {
    $parent-pixels: $base-font-size;
  }

  $value: ily-strip-unit($value);
  $parent-pixels: ily-strip-unit($parent-pixels);

  @return $value / $parent-pixels * 1em;

}