$bp-xxs: 360px; //Galaxy S4 - S6
$bp-xs:  375px; //iPhone 6
$bp-s:   410px; //iPhone 6 Plus
$bp-m:   768px; //Tablets
$bp-l:   992px; //Desktop
$bp-xl:  1200px; //Large desktop

$bp-height-xxs: min-height 640px; //Galaxy S4
$bp-height-xs:  min-height 665px; //iPhone 6
$bp-height-s:   min-height 735px; //iPhone 6 Plus
$bp-height-m:   min-height 1024px; //Tablets
