//Requires ily/utilities/font-smoothing

@mixin ily-icomoon-base() {
  @include ily-font-smoothing;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

@mixin ily-icomoon($content) {
  @include ily-icomoon-base;
  content: $content;
}
